.qq-upload-button {
    display:block; /* or inline-block */
  /*  padding: 7px 15px; 
    text-align:center;
	border:1px solid #AAA;
	color: #555555;
	border-radius: 5px;*/
	float:left;
	width: 60%;
/*	
	background: #ccc;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc), color-stop(0.6, #eee));
	background-image: -webkit-linear-gradient(center bottom, #ccc 0%, #eee 60%);
	background-image: -moz-linear-gradient(center bottom, #ccc 0%, #eee 60%);
	background-image: -o-linear-gradient(bottom, #ccc 0%, #eee 60%);
	background-image: -ms-linear-gradient(top, #cccccc 0%,#eeeeee 60%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#eeeeee',GradientType=0 );
	background-image: linear-gradient(top, #cccccc 0%,#eeeeee 60%);	*/	
}
.qq-upload-button:hover {
	 /* background: #bbb;
	  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #bbb), color-stop(0.6, #ddd));
	  background-image: -webkit-linear-gradient(center bottom, #bbb 0%, #ddd 60%);
	  background-image: -moz-linear-gradient(center bottom, #bbb 0%, #ddd 60%);
	  background-image: -o-linear-gradient(bottom, #bbb 0%, #ddd 60%);
	  background-image: -ms-linear-gradient(top, #bbbbbb 0%,#dddddd 60%);
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbbbbb', endColorstr='#dddddd',GradientType=0 );
	  background-image: linear-gradient(top, #bbbbbb 0%,#dddddd 60%);*/
}
.qq-upload-button:focus {outline:1px dotted black;}